html, body {
  height: 100%
}

.image-container{
  /* margin-top:15%; */
}
.search-container{
  margin-top:3%;
}

.image-wrapper {
  margin: 5px
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Modal-trigger-button {
  line-height: 12px;
     position:absolute;
     top:3%;
     right:3%;
}

.App-title {
  position: absolute;
  top:3%
}

.Add-Border-left {
  border-left: 1px solid;
  height: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
